mark{
    background-color:#c0ffc8;
    border-radius:10px;
    padding: 5px;
    
}

.heroSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0px 40px 40px;
    /* background: linear-gradient(225deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.0033147047881653124) 70%, rgba(0,212,255,0.350653640362395) 100%); */
}

.heroSectionImage{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.heroSectionImage img{
    width: 600px;
}

.heroSectionText{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.heroSectionText h2{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #303030;
    text-align: center;
}

.w-node{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.discordIcon{
    font-size: 2rem;
    color: #7289DA;
}

.arrowIcon{
    font-size: 1.2rem;
    color: #303030;
}

.w-node p{
    font-size: 1.5rem;
    margin: 0px 10px 0px 10px;
    color: #585858;
    text-align: center;
    font-style: italic;
}


/* community section */

.community-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 70px;
}

.community-section-heading{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.community-section-heading h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #5B9FCF;
    font-style: italic;
}

.community-section-content{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.community-section-content p{
    padding-top: 50px;
    color: grey;
    line-break: auto;
    font-size: 1.1rem;
    flex: 2;
}

.community-image{
    display: flex;
    justify-content: center;
    flex: 1;
}

.community-image img{
    width: 20vw;
}

/* experience section */

.experience-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 70px;
}

.experience-section-heading{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.experience-section-heading h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #9265FF;
    font-style: italic;
    margin-bottom: 30px;
}

.experience-section-content{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.experience-section-image{
    flex: 1;
    display: flex;
    align-items: center ;
}

.experience-section-image img{
    width: 18vw;
}

.experience-tab-section{
    flex: 2;
}

/* mentor section */

.mentor-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 70px;
    margin-bottom: 40px;
}

.mentor-section-heading{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mentor-section-heading h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #BD4B4B;
    font-style: italic;
}

.mentor-section-p{
    display: flex;
    flex-direction: column;
}

.mentor-section-content{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.mentor-section-p{
    color: grey;
    line-break: auto;
    font-size: 1.1rem;
    flex: 2;
    padding-top: 40px;
}

.mentor-section-p > p{
    margin-bottom: 30px;
}

.mentor-section-p i{
    margin-left: 15px;
}

.mentor-image{
    display: flex;
    justify-content: center;
    flex: 1;
}

.mentor-image img{
    width: 20vw;
}

.contributer-link{
    cursor: pointer;
    transition: 400ms;
}

.contributer-link:hover{
    color: #000;
    transition: 600ms;
}

.contributer-link:active{
    color: #000;
    transition: 600ms;
}

/* Mobile View */

@media screen and (max-width: 960px){

    .heroSection{
        padding: 0px 20px;
    }

    .heroSectionImage img{
        width: 65vw;
    }

    .heroSectionText h2{
        font-size: 2rem;
    }

    .w-node p{
        font-size: 1.2rem;
    }

    .community-section, .experience-section ,.mentor-section{
        padding: 20px 40px;
    }

    .community-section-content{
        flex-direction: column-reverse;
    }

    .community-section-heading h2{
        font-size: 2rem;
    }

    .community-image img{
        width: 30vw;
        margin-top: 30px;
    }

    .experience-section-heading h2{
        font-size: 2rem;
    }

    .experience-section-content{
        flex-direction: column;
    }

    .experience-section-image{
        display: none;
    }


    .mentor-section-heading h2{
        font-size: 2rem;
    }

    .mentor-section-content{
        flex-direction: column-reverse;
    }

    .mentor-image img{
        width: 30vw;
        margin-top: 30px;
    }
}

@media screen and (max-width: 460px){

    .heroSection{
        padding: 0px 20px;
    }

    .heroSectionText h2{
        font-size: 1.8rem;
    }

    .heroSectionImage img{
        width: 80vw;
    }

    .heroSectionImage{
        flex: 1;
    }

    .heroSectionText{
        flex: 1;
    }

    .community-section-heading h2, .experience-section-heading h2, .mentor-section-heading h2{
        font-size: 1.8rem;
    }

    .community-section, .experience-section, .mentor-section{
        padding: 20px;
    }

    .community-image img{
        width: 40vw;
    }

    .mentor-image img{
        width: 40vw;
    }
}