*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: transparent;
}

.button-container button{
    margin-bottom: 20px;
}

.tabs{
    background-color: #fff;
    color: #303030;
    border: 1px solid #303030;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    cursor: pointer;
    transition: 800ms;
    margin-right: 40px;
}


.active-tabs  {
    background-color: #303030;
    color: #fff;
    transition: 300ms;
}

.content-tabs {
    flex-grow : 1;
}

.content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
    height: 100%;
    display: none;
    
}

.content p {
    width: 100%;
    height: 100%;
    color: grey;
    line-break: auto;
    font-size: 1.1rem;
  }

.active-content {
    display: block;
  }