.navbar {
    background: #ffffff;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.1rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    height: 80px;
    max-width: 1500px !important;
  }

  .nav-logo{
    height: 30px;
    margin-right: 10px;
  }
  
  .navbar-text {
    color: #303030;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: 0.8s;
    width: 190px;
  }
  
  .navbar-logo:hover{
    color: #7345f3;
    /* transform: scale(1.02); */
    transition: 200ms ease;
    text-decoration: none;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 13px;
    list-style: none;
    text-align: center;
    width: 72vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #333;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    color: #7945f3;
    transition: all 0.4s ease-out;
    text-decoration: none;
  }
  
  .fa-bars {
    color: #303030;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      display: flex;
      justify-content: center;
      background: #f3d4ff;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #000;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }
  
  @media screen and (max-width: 478px){
    .navbar-logo-text{
      display: none;
    }

    .nav-logo{
      height: 40px;
    }

    .navbar-container{
      margin-left: 20px;
    }
  }