.footer{
    width: 100%;
    height: auto;
    background-color: #F2F1FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

/* Mail container */

.footer-mail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.footer-mail-container h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #303030;
    margin-bottom: 30px;
}

.footer-mail-container p{
    font-size: 1.4rem;
    color: #303030;
    cursor: pointer;
}

/* Social container */

.footer-social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.footer-social-container h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #303030;
    margin-bottom: 30px;
}

.footer-social-icons i{
    font-size: 30px;
    cursor: pointer;
    color: #303030;
    margin-right: 20px;
}

.instagram:hover{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 300ms;
}

.linkedIn:hover{
    color: #00669c;
    transition: 300ms;
}

.twitter:hover{
    color: #1DA1F2;
    transition: 300ms;
}

.copyright-section{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.backToTop{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -30px;
    padding-right: 40px;
}

.backToTop-button{
    align-items: center;
    padding: 15px;
    cursor: pointer;
    background-color: #E0DCFF;
    border-radius: 50%;
    border: none;
    height: 60px;
    width: 60px;
}

.backToTop-button i{
    font-size: 30px;
    color: #303030;
}

@media screen and (max-width: 960px){
    .footer-mail-container h2 , 
    .footer-social-container h2{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .footer-mail-container p{
        font-size: 1.2rem;
    }

    .footer-social-icons i{
        font-size: 25px;
    }

}

@media screen and (max-width: 460px){
    .footer-mail-container h2 , 
    .footer-social-container h2{
        font-size: 6vw;
        margin-bottom: 20px;
    }

    .footer-mail-container p{
        font-size: 4vw;
    }

    .footer-social-icons i{
        font-size: 20px;
    }

    .copyright-section{
        font-size: 3vw;
    }

    /* back to top */
    
    .backToTop-button{
        padding: 5px;
        height: 50px;
        width: 50px;
    }
    
    .backToTop-button i{
        font-size: 20px;
    }
}